@model List<MVCFRIB.Models.Message>

@{
    ViewData["Title"] = "Message List";
}

<h1>Message List</h1>

<div>
    <h4>Messages</h4>
    <hr />
    @for (int i=0; i < Model.Count; i++)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(list => list[i].id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(list => list[i].id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(list => list[i].messageContent)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(list => list[i].messageContent)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(list => list[i].Sent)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(list => list[i].Sent)
            </dd>
        </dl>
    }
    
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="text-center">
    <h1 class="display-4">Message List</h1>
    <h3>This is a list of all messages sent so far:</h3>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Sent</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
